* {
	box-sizing: border-box;
}

body {
	font-family: 'Archivo Black', sans-serif;
}

header,
main {
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-size: 45px;
}

.fixed-nav {
	position: fixed;
	width: 100%;
}

.fixed-nav li,
.fixed-nav a {
	height: 50px;
}

.menu-items {
	display: inline-block;
}

.menu-items li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

.menu-items a {
	text-decoration: none;
}

.search-page,
.queue-page {
	opacity: 0;
}

ul {
	list-style: none;
}

li {
	display: inline;
}