* {
	box-sizing: border-box;
}

body {
	padding: 10px;
	font-size: 16px;
}

header,
main {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.search-page,
.queue-page {
	opacity: 0;
}

ul {
	list-style: none;
}

li {
	display: inline;
}